div.photo-block {
    text-align: center;
    border: 1px solid gray;
    border-radius: 5%;
    }
div.photo-title {
    font-size: 140%;
    font-family: Arial;
    text-decoration: underline;
    }
div.photo-score {
    font-family: 130%;
    font-family: monospace;
    }
img.photo-image {
    max-height: 200px;
    width: auto;
    }
div.gallery-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    }
body.dark {
    background-color: #1e1e1e;
    color: #f0f0f0;
    }
input, select {
    background-color: #2e2e2e;
    border-color: #555555;
    color: #f0f0f0;
    }
div.input-group > label {
    display: inline-block;
    width: 200px;
    text-align: right;
    }
    .input-group {
    margin-bottom: 0.5em;
    }

/*Código propio para que no haya margenes en el body, de tal manera, el bloque del header no tiene márgenes.
Con esto mejora la presentación en pantalla completa de la página web.*/    
body {
    margin: 0;
    padding: 0;
}
div.title-block {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #2c2c2c;
    }
    #title {
    font-size: 300%;
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    margin-bottom: 0;
    }
    #subtitle {
    font-size: 120%;
    font-style: italic;
    color: #cccccc;
    font-family: monospace;
    }

div.navigation > a {
    color: #e0e0e0;
    font-size: 120%;
    background-color: #3a3a3a;
    font-family: monospace;
    text-decoration: none;
    display: inline-block;
    min-width: 150px;
    }

/* Para el footer:*/

footer {
    background-color: #2c2c2c;
    color: #ccc;
    padding: 10px;
    text-align: center;
}